<div class="page-header">
  
</div>

<div class="row mb-1">
  <div class="col-md-3">
    <%= search_form_for @q, :class => "collapse", :id => "bookmarks_filters" do |f| %>
      <p class="lead">Narrow results:</p>
          

    <div class="form-group">
          <%= f.label :dish_name_cont, "Dish name contains" %>
          <%= f.text_field :dish_name_cont, :class => "form-control", :placeholder => "Dish name contains" %>
        </div>
        
    <div class="form-group">
          <%= f.label :dish_name_cont, "Cuisine" %>
          <%= f.text_field :dish_name_cont, :class => "form-control", :placeholder => "Cuisine name contains" %>
        </div>
    
          <%= f.submit :class => "btn btn-primary btn-block mb-1" %>
    
          <a href="/bookmarks" class="btn btn-secondary btn-block mb-1">Clear filters</a>
        <% end %>
        <a class="btn btn-secondary btn-block mb-1" data-toggle="collapse" href="#bookmarks_filters">
          Show Filters
        </a>
    </div>

  <div class="col-md-6">
    <table class="table table-striped table-hover">
      <tr>
        <th>The very best...</th>
        <th>is at...</th>
        <th></th>
      </tr>

      <% @bookmarks.each do |bookmark| %>
      <tr>
        <td>
          <% if bookmark.dish.present? %>
            <a href="/dishes/<%= bookmark.dish.id %>">
              <%= bookmark.dish.name %>
            </a>
          <% end %>
        </td>
        <td>
          <% if bookmark.venue.present? %>
            <a href="/venues/<%= bookmark.venue.id %>">
              <%= bookmark.venue.name %>
            </a>
          <% else %>
          <%= select_tag("venue_id", options_from_collection_for_select(Venue.order(:name), :id, :name), :class => "form-control") %>
          <% end %>
        </td>
        <td>
          <% if bookmark.dish.present? %>
              <span class="badge badge-primary"><%= bookmark.dish.cuisine.name %></span>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
  <div class = "col-md-3">
      <a href="/venues/new" class="btn btn-md btn-success">Add a new venue</a>
  </div>
</div>
s
